<!DOCTYPE html>
<html lang="en-US" ng-app="loginapp">
<head>
	<meta charset="utf-8" />
	<title>Toyota	 | Login Page</title>
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
	<meta content="" name="description" />
	<meta content="" name="author" />
	
	<!-- ================== BEGIN BASE CSS STYLE ================== -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
	<link href="assets/css/default/app.min.css" rel="stylesheet" />
	<link href="assets/css/default/theme/red.min.css" rel="stylesheet" />
	<!-- ================== END BASE CSS STYLE ================== -->
	
	<!-- ================== BEGIN BASE ANGULAR JS ================== -->
	<script src="assets/plugins/angular/angular.min.js"></script>
	<script src="assets/plugins/angular-route/angular-route.min.js"></script>
	<script src="assets/plugins/angular-ui-router/release/angular-ui-router.min.js"></script>
	<script src="assets/plugins/angular-ui-bootstrap/dist/ui-bootstrap-tpls.js"></script>
	<script src="assets/plugins/oclazyload/dist/ocLazyLoad.min.js"></script>
	<script src="assets/plugins/angular-cookies/angular-cookies.min.js"></script>
	<!-- ================== END BASE ANGULAR JS ================== -->
</head>
<body class="pace-top" ng-controller="loginCtrl">
	<!-- begin #page-loader -->
	<div id="page-loader" class="fade show"><span class="spinner"></span></div>
	<!-- end #page-loader -->
	
	<!-- begin #page-container -->
	<div id="page-container" class="fade">
		<!-- begin login -->
		<div class="login login-v1">
			<!-- begin login-container -->
			<div class="login-container">
				<!-- begin login-header -->
				<div class="login-header">
					<div class="brand">
						<span class="logo"></span> <b>Toyota</b> Admin
						<small>responsive bootstrap 4 admin template</small>
					</div>
					<div class="icon">
						<i class="fa fa-lock"></i>
					</div>
				</div>
				<!-- end login-header -->
				<!-- begin login-body -->
				<div class="login-body">
					<!-- begin login-content -->
					<div class="login-content">
						<form ng-submit="btnLogin()" class="margin-bottom-0">
							<div class="form-group m-b-20">
								<input type="text" class="form-control form-control-lg inverse-mode" placeholder="Usuarios" ng-model="loginhModel.username"/>
							</div>
							<div class="form-group m-b-20">
								<input type="password" class="form-control form-control-lg inverse-mode" placeholder="Contraseña" ng-model="loginhModel.password"/>
							</div>
							<!-- <div class="checkbox checkbox-css m-b-20">
								<input type="checkbox" id="remember_checkbox" /> 
								<label for="remember_checkbox">Remember Me</label>
							</div> -->
							<div class="login-buttons">
								<button type="submit" class="btn btn-success btn-block btn-lg" ng-disabled="loading">Ingresar</button>
							</div>
						</form>
					</div>
					<!-- end login-content -->
				</div>
				<!-- end login-body -->
			</div>
			<!-- end login-container -->
		</div>
		<!-- end login -->
		
		
	</div>
	<!-- end page container -->
	
	<!-- ================== BEGIN BASE JS ================== -->
	<script src="assets/js/app.min.js"></script>
	<script src="assets/js/theme/default.min.js"></script>
	<!-- ================== END BASE JS ================== -->

	<!-- ================== BEGIN ALERTS ================== -->
	<script src="assets/plugins/gritter/js/jquery.gritter.js"></script>
	<script src="assets/plugins/sweetalert/dist/sweetalert.min.js"></script>
	<script src="assets/js/demo/ui-modal-notification.demo.js"></script>
	<!-- ================== END ALERTS ================== -->

	<!-- CONF -->
  	<!-- <script src="./efuweb/scripts/conn.js"></script> -->
	<script src="./efuweb/scripts/config.js"></script>

  	<!-- Directives -->
  	<!-- <script src="./efuweb/scripts/directives/menuBlock.js"></script> -->

  	<!-- Services -->
  	<!-- <script src="./efuweb/scripts/services/currencyQuotesService.js"></script> -->

  	<!-- Controllers -->
  	<script src="./efuweb/scripts/controllers/loginCtrl.js"></script>
 

</body>
</html>
